.footer{
	margin-top: auto;
	z-index: 100000;
}
.img__nasa{
	width: 60px;
}
.footer__box{
	display: flex;
}
.footer__info{
	display: flex;
	margin-bottom: 15px;
}
.footer__status{
	color: #fff;
	width: 300px;
}
.ul{
	display: flex;
	list-style-type: none;
	float: right;
	margin-top: 20px;
}
.ul li{
	margin-left: 15px;
	font-size: 14px;
	color: #0B3D91;
}
@media (max-width: 1024px){
	.footer__status{
		width: 250px;
		font-size: 13px;
	}
	.ul li{
		margin-left: 8px;
		font-size: 10px;
		color: #0B3D91;
	}
}
@media (max-width: 991px){
	.footer__status {
		width: 135px;
		font-size: 12px;
	}
}